{% extends "base.html" %} {% block nav%}
<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark nav-background-color fixed-top"
>
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'BlogApp:home' %}">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'BlogApp:myBlogs' %}">My articles</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <form action="{% url 'BlogApp:logout' %}" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            class="nav-link btn btn-link"
            style="background: none; border: none"
          >
            Logout
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% endblock nav %} {% block content %}
<h2>Edit Blog</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Article Title</h2>
  <input
    class="form-control"
    id="artTt"
    type="text"
    name="title"
    value="{{ blog.title }}"
  />
  <br />
  <h2>Choose An Image</h2>
  <input class="form-control" id="artImg" type="file" name="image" />
  <br />
  <h2>Current Image</h2>
  <img
    src="{{ blog.image.url }}"
    alt="Blog Image"
    style="width: 600px; height: auto"
  />
  <br />
  <h2>Article Text</h2>
  <textarea class="form-control" rows="5" id="artTxt" name="text">
{{blog.text}}</textarea
  >
  <br />
  <h2>Article Category</h2>
  <input
    class="form-control"
    id="artCategory"
    type="text"
    name="category"
    value="{{ blog.category }}"
  />
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
